node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.nyc_output
coverage
.coverage
.sass-cache
connect.lock
coverage/*
libpeerconnection.log
npm-debug.log*
testem.log
typings
.DS_Store
.vscode/*