<div class="modal-backdrop fade show" *ngIf="isOpen"></div>
<div class="modal fade show d-block" tabindex="-1" role="dialog" *ngIf="isOpen">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content border-0 shadow-lg">

            <div class="modal-header bg-dark-blue text-white">
                <h5 class="modal-title fw-bold">Añadir Alumno</h5>
            </div>
            <div class="modal-body p-4">
                @if (errorMessage) {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ errorMessage }}
                    <button type="button" class="btn-close" (click)="errorMessage = ''"></button>
                </div>
                }


                <form [formGroup]="studentForm" (ngSubmit)="saveChanges()">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="name" class="form-label">Nombre</label>
                            <input type="text" formControlName="name" class="form-control" id="name"
                                placeholder="Nombre del alumno" [class.is-invalid]="submitted && f['name'].invalid">
                            <div class="invalid-feedback">
                                @if (f['name'].errors?.['required']) {
                                El nombre es obligatorio
                                }
                            </div>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="lastName" class="form-label">Apellido</label>
                            <input type="text" formControlName="lastName" class="form-control" id="lastName"
                                placeholder="Apellido del alumno"
                                [class.is-invalid]="submitted && f['lastName'].invalid">
                            <div class="invalid-feedback">
                                @if (f['lastName'].errors?.['required']) {
                                El apellido es obligatorio
                                }
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="gender" class="form-label">Sexo</label>
                            <select class="form-select" id="gender" formControlName="gender"
                                [class.is-invalid]="submitted && f['gender'].invalid">
                                <option value="Masculino">Masculino</option>
                                <option value="Femenino">Femenino</option>
                            </select>
                            <div class="invalid-feedback">
                                Debe seleccionar el sexo
                            </div>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="course" class="form-label">Curso</label>



                            <select class="form-select" id="course" formControlName="course"
                                [class.is-invalid]="submitted && f['course'].invalid" >

                                <option value="Curso" selected>Curso</option>
                                @for (course of courses; track $index) {
                                @if (course.includes("_") && course.includes("grado")) {
                                <option value="{{course}}">{{course.slice(0, course.indexOf("_"))}}
                                    grado </option>
                                }
                                @else if (course.includes("_") && course.includes("anio")) {
                                <option value="{{course}}">{{course.slice(0, course.indexOf("_"))}}
                                    año </option>
                                }
                                @else {
                                <option value="{{course}}">{{course}}</option>
                                }
                                }
                            </select>


                            <div class="invalid-feedback">
                                @if (f['course'].errors?.['required']) {
                                El grado es obligatorio
                                }
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="address" class="form-label">Dirección (Opcional)</label>
                        <input type="text" formControlName="address" class="form-control" id="address"
                            placeholder="Dirección del alumno">
                    </div>

                    <div class="mb-3">
                        <label for="address" class="form-label">Información familiar (Opcional)</label>
                        <input type="text" formControlName="familyInfo" class="form-control" id="familyInfo"
                            placeholder="Información complementaria, ej: los padres estan en prisión domiciliaria">
                    </div>

                    <button type="submit" class="btn btn-primary w-100 py-2 rounded-pill" [disabled]="saving">
                        @if (saving) {
                        <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
                        Guardando...
                        } @else {
                        Crear alumno
                        }
                    </button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary rounded-pill px-4" (click)="cancel()">Cancelar</button>
            </div>
        </div>
    </div>
</div>